*   {
  margin: 0;
  padding: 0;
}

/*
body
{
  /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img4.jpg); */
/*
    background-image: url(../images/sunset.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
*/

section {
  padding: 10em 2em;
}
    
p   {
  color: bdark grey;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: text-bottom;
}


.header_img {
    background-image: url(../images/post.jpg);
    position: relative;
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    width: 100vw; 
     height: 100vw;
/*  left: 50%;
  right: 50%;*/
 /* object-fit:cover; */ 
}

.header-text {
    padding: 15px;
    margin: auto;
    text-align: inherit;
    letter-spacing: 1px;
    vertical-align: text-top;
    color: #67ADF3;
    font-size: 36px;
    font-size: 3vw;
    width: 80%;
    height: auto;
}
    
 
  
    
 

.para_body {
    background-color: var(--clr-dark);
      
    
  }


.para_body_info {

}
