*   {
  margin: 0;
  padding: 0;
}

/*
body
{
  /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img4.jpg); */
/*
    background-image: url(../images/sunset.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
*/

section {
  padding: 10em 2em;
}
    
p   {
  color: bdark grey;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: text-bottom;
}


.header_img {
    background-image: url(../images/sunset.jpg);
    position: relative;
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
     width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



.header_title{
    background-color: rgba(0,0,0, 0.3);
    padding: 15px;
  text-align:center;
  vertical-align: text-top;
  color: white;
  font-size: 50px;
  font-size: 5.5vw;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.para_body {
    background-color: var(--clr-dark);
      
    
  }


.para_body_info {

}
