* {
    margin: 0;
    padding: 0;
  /*  background-color: #00aeff; */
}

body {
    background-color: white;
    font-family: Montserrat, sans-serif;
}

section {
    padding: 1em 0em;
   /* padding: 15%; */
}


p {
    background-color: white;
    letter-spacing: 1px;
    color: black;
    font-family: Kana-Sans-Medium;
   /* padding: 1px 1px 1px 1px; */
}


/*
p {
    background-color: white;
    font-size: 1.5vw;
    vertical-align: text-bottom;
    color: black;
    text-align: left;
    padding-top: 2%;
    letter-spacing: 1px;
}
*/


.subheader_img {
    background-image: url(../images/MountainTop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 65vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.sh_text {
    color: white;
    background-color: var(--clr-dark);
    letter-spacing: 1px;
    
    margin-left: 60%;
    width: 100%;
    font-size: 4.5vw;
    text-align: center;
    
    
}
.header-block{
    display: block;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    transform: translate(-50%, -50%);
    text-align: center;

    
}

.header_title {
    
   
    color: white;
    font-size: 65px;
    font-size: 6.5vw;
    width: 67vw;
   /* height: 10vw;*/
   
    
}

.toplogo {
    display: block;
    height: 30vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--clr-dark);
    position: relative;
}

.para_body_info {
    background-color: white;
    font-size: 23px;
    font-family: Kana-Sans-Medium;
   
    margin: 0 auto;
    

}